.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .cardContainer{
        display: grid;
        /* 넓을 때 3열, 좁을 때 1열 */
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 15px;
        margin-bottom: 5%;
    }
    
    // 하단 버튼
    .btnContainer {
        display: flex;
        justify-content: center;
        gap: 8px;
        width: 100%;
        padding: 0 20px;

        .goButton {
            flex: 1;
            min-width: 0; 
            white-space: nowrap; // 글자 줄바꿈 방지
            padding: 15px 40px;
            background-color: var(--primary-color);
            color: var(--white-soft);
            font-weight: 600;
            border-radius: var(--border-radius);
            font-size: var(--font-base);
            
            display: inline-flex;
            align-items: center;
            justify-content: center; 
            gap: 8px;
            
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: all 0.3s ease;
            &:hover {
                opacity: 0.9;
                color: var(--white-soft);
                transform: translateY(-5px);
            }
        }
    }
}


/* 태블릿 (1024px 이하) */
@media (max-width: 1024px) {
  .container {
    padding: 20px;
  }
}
/* 모바일 (768px 이하) */
@media (max-width: 768px) {
    .container {
        .cardContainer {
            margin-top: 10px;
            grid-template-columns: 1fr; 
            gap: 15px;
        }
        .btnContainer {
            .goButton {
                gap: 4px;
            }
        }
    }
}