/* reset.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit; /* 부모 폰트 그대로 상속 */
}

input, textarea {
  outline: none;
  border: none;
  font: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}