/* variables.css (색상, 폰트 크기, 간격 등) */

:root {
    /* 여백 */
    --max-content-width: 1200px;

    /* 메인 컬러 */
    --primary-color: #3F88C5;     

    /* 밝은 회색 */ 
    --gray-bg-light: #f3f4f6;
    --sub-bg-color: #e5e7eb;

    /* 화이트 */
    --white: #ffffff;
    --white-soft: #fcfcfc;      
    --white-mute: #f5f5f5;  
    --white-transparent: rgba(255, 255, 255, 0.8);

    /* 블랙/다크 */
    --black: #000000;
    --black-light: #1a1a1a;     
    --black-muted: #333333;  
    
    /* 그레이 */
    --gray-dark: #4b5563;       
    --gray-medium: #9ca3af;    
    --gray-light: #d1d5db;      
    --gray-extra-light: #e5e7eb; 
    --gray-bg: #f3f4f6;        
    --gray-border: #f9fafb;    
    
    /* 보더 및 라인 */
    --border-light: #ececec;    
    --border-dark: #222222;    

    /* 그림자 */
    --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.05);
    --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.1);

    /* 폰트 크기 */
    --font-xs: 0.75rem;           /* 12px */
    --font-sm: 0.875rem;          /* 14px */
    --font-base: 1rem;            /* 16px (기본) */
    --font-md: 1.125rem;          /* 18px */
    --font-lg: 1.25rem;           /* 20px */
    --font-sub-xl: 1.5rem;        /* 24px (모바일 제목)*/
    --font-sub-xxl: 1.75rem;      /* 28px */
    --font-xl: 2rem;              /* 32px */
    --font-xxl : 3.125rem;         /* 50px */
    --font-xxxl: 5rem;             /* 80px */

    /* border */
    --border-radius: 8px;    
    
    /* line-height */
    --line-height:1.6;


    /* Light Mode - 기본값 */
    --color-bg-primary: var(--white-soft);      /* 메인 배경 */
    --color-text-main: var(--black-light);      /* 기본 텍스트 */
    --color-text-sub: var(--primary-color);     /* 서브 텍스트 (포인트 컬러) */
    --color-text: var(--white-soft);    
    --color-text-inner: var(--gray-dark);    
}

/* Dark Mode */
body.dark-mode {
  --color-bg-primary: var(--border-dark);                    
  --color-text-main: var(--white-soft);         
  --color-text: var(--white-soft);
  --color-text-inner: var(--gray-extra-light);
}
body.dark-mode .container {
  background-color: var(--border-dark);
  color: var(--white-soft); 
}
html, body, #root {
  background: var(--color-bg-primary);
  color: var(--color-text-main);
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}


/* font */
html, body {
  font-family:'Gaegu',sans-serif;
}
.text-kr {
  font-family: 'Gowun Batang', serif;;
}
.text-en {
  font-family:'Gaegu',sans-serif;
}

html {
  /* 스크롤바가 생길 때, 화면 내용이 갑자기 왼쪽으로 밀리는 현상 방지 */
  /* scrollbar-gutter: stable; */
  overflow-y: overlay;
  background-color: var(--color-bg-primary);
}
::-webkit-scrollbar-track {
  background: var(--color-bg-primary); 
}

.container {
  background: var(--color-bg-primary);
  max-width: var(--max-content-width);
  /* width: 100%;  */
  width: 100vw;
  overflow-x: hidden; 
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.content {    
  flex: 1;           
  width: 100%;
  display: flex;     
  flex-direction: column;
  cursor: none;
}

/* 라이트/다트 모드 버튼 */
.theme-toggle-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  display: block;
}
@media (max-width: 1100px) {
  .theme-toggle-btn {
    display: none !important;
  }
}

/* 모바일 (768px 이하) */
@media (max-width: 768px) {
  .content{
    margin-bottom: 100px;
  }
}