.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    .box {
        width: 100%;
        max-width: 1100px;
        display: flex;
        border-radius: var(--border-radius);
        overflow: hidden;
        /* 좌측 */
        .formSection {
            flex: 1.2;
            padding: 60px;
            background: var(--color-bg-primary);
            cursor: default;
            h2 {
                font-size: var(--font-xl);
                font-weight: 800;
                margin-bottom: 15px;
                background: var(--black-ligh);
            }
            
            p {
                color: var(--color-text-inner);
                margin-bottom: 20px;
                font-size: var(--font-base);
            }
            
            form {
                display: flex;
                flex-direction: column;
                gap: 20px;
            
                input, textarea {
                    width: 100%;
                    padding: 16px 20px;
                    border: 1px solid var(--gray-extra-light);
                    border-radius: var(--border-radius);
                    background: var(--white-mute);
                    font-size: var(--font-sm);
                    transition: all 0.3s ease;
                    outline: none;
                
                    &:focus {
                        background: var(--white);
                        border-color: var(--primary-color);
                        box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.03);
                    }
                }
                textarea {
                    min-height: 150px;
                    resize: none;
                }
                button {
                    margin-top: 10px;
                    padding: 15px;
                    border: none;
                    color: var(--white);
                    background: var(--primary-color);
                    border-radius: var(--border-radius);
                    font-weight: bold;
                    font-size: var(--font-base);
                    cursor: pointer;
                    transition: transform 0.2s, background 0.2s;
                    &:hover {
                        background: var(--black-light);
                        transform: translateY(-2px);
                    }
                    &:disabled {
                        background: var(--white-mute);
                        cursor: not-allowed;
                    }
                }
            }
        }
        
        /* 우측 */
        .infoSection {
            color: var(--gray-dark);
            flex: 0.8;
            padding: 60px;
            background: var(--white-mute);
            border: 1px solid var(--gray-extra-light);
            border-radius: var(--border-radius);
            font-size: var(--font-sm);
            cursor: default;

            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;
            // 현재 계정
            a {
                transition: color 0.2s;
                display: inline-block;
                margin-bottom: 5px;
            
                strong {
                    font-weight: 600;
                }
            
                &:hover {
                    color: var(--primary-color);
                }
            }
            // 예전 계정
            .oldLink {
                color: var(--gray-medium);
                &:hover {
                color: var(--gray-light);
                }
            }
            h4 {
                font-size: var(--font-md);
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-bottom: 15px;
            }
            p {
                font-size: var(--font-base);
                line-height: 1.6;
            }
        }
    }

}


/* 태블릿 (1024px 이하) */
@media (max-width: 1024px) {
  .container {
    padding: 0 20px 20px 20px;
  }
}
/* 모바일 (768px 이하) */
@media (max-width: 768px) {
    .container {
        .box {
            margin-top: 10px;
            flex-direction: column;
            // 좌측 폼
            .formSection {
                padding: 40px 20px; 
                text-align: center;
                h2 {
                    font-size: var(--font-sub-xl); 
                }
                p{
                    font-size: var(--font-base);
                }
            }
            // 우측 폼
            .infoSection {
                padding: 40px; 
                text-align: center;
                h4 {
                    font-size: var(--font-base);
                }
                p {
                    font-size: var(--font-sm);
                }
            }
        }
    }
}