.container { 
    height: 80px;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    .logo {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
}
