.container {
  margin: 0 auto;
  padding: 70px 0px;
  text-align: center;
  cursor: pointer;
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // 4열 배치
    gap: 25px;
    margin-bottom: 40px;
    align-items: stretch;
    .card {
      background: var(--white);
      border: 1px solid var(--border-light);
      border-radius: var(--border-radius);
      padding: 30px;
      text-align: left;
      transition: transform 0.3s;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      min-height: 320px;
      &:hover {
        transform: translateY(-8px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.05);
      }
      // 아이콘
      .icon { 
        font-size: var(--font-xl); 
        margin-bottom: 15px; 
      }
      // 제목
      h3 { 
        color: var(--gray-dark); 
        font-size: var(--font-lg); 
        margin-bottom: 15px; 
        line-height: 1.3; 
        word-break: keep-all;
      }
      // 부제목
      p { 
        color: var(--gray-dark); 
        font-size: var(--font-base); 
        line-height: 1.6; 
        margin-bottom: 20px; 
      }
      // 태그
      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: auto;
        span {
          background: var(--primary-color);
          color: var(--white-soft);
          font-weight: 500;
          padding: 5px 10px;
          border-radius: var(--border-radius);
          font-size: var(--font-sm);
        }
      }
    }
  }
  // 하단 더보기 버튼
  .moreBtn {
    border-radius: var(--border-radius);
    font-size: var(--font-base);
    background: var(--border-light);
    font-weight: 600;
    padding: 15px 60px;
    cursor: pointer;
    border: none;
    transition: background 0.2s;
    &:hover {
      opacity: 0.8;
    }
  }

}

/* 태블릿 (1024px 이하) */
@media (max-width: 1024px) {
  .container {
    padding: 20px;
    .grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px; 
    }
  }
}
/* 모바일 (768px 이하) */
@media (max-width: 768px) {
  .container {
    .grid {
      margin-top: 10px;
      grid-template-columns: 1fr; // 1열 배치
      gap: 15px;
      .card {
        padding: 25px; // 카드 내부 여백
        min-height: auto; // 높이 유동적
        h3 {
          font-size: var(--font-base); 
        }
        p {
          font-size: var(--font-sm); 
          margin-bottom: 15px;
        }
        .icon {
           font-size: var(--font-sm);
        }
      }
    }

    .moreBtn {
      width: 100%; 
      padding: 15px 0;
    }
  }
}