.modal_container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: var(--font-base);
    cursor: default;
    // 제목
    .modal_title {
        flex: 1;
        font-weight: 800;
        margin-bottom: 15px;
        font-size: var(--font-lg);
        color: var(--black-light);
    }
    // 이미지
    .modal_swiper_wrapper {
        width: 100%;
        background: var(--white-mute);
        border-radius: var(--border-radius);
        border: 1px solid var(--border-light);
        margin-bottom: 25px;
        overflow: hidden;
        .project_img {
            width: 100%;
            height: 350px; 
            object-fit: contain; 
            display: block;
        }
    }
    // 데이터
    .modal_content {
        flex: 1;
        overflow-y: scroll;
        padding: 0 30px 0 0;
        
        &::-webkit-scrollbar {
            width: 7px;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--gray-extra-light);
            border-radius: var(--border-radius);
        }
        // 설명
        .modal_section {
            font-size: var(--font-sm);
            // h3
            .section_label {
                color: var(--gray-dark);
                font-size: var(--font-lg);
                font-weight: 700;
                margin-bottom: 20px;
            } 
            // p
            .section_text {
                font-size: var(--font-base);
                line-height: var(--line-height);
                margin-bottom: 20px;
            }
            // 기술 태그
            .modal_tags {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                margin-top: auto;
                .modal_tag_item {
                    background: var(--primary-color);
                    color: var(--white-soft);
                    font-weight: 500;
                    padding: 5px 10px;
                    border-radius: var(--border-radius);
                    font-size: var(--font-sm);
                }
            }
            // h2
            .detail_title {
                color: var(--gray-dark);
                font-size: var(--font-lg);
                font-weight: 700;
                margin-bottom: 20px;
            }
            // 상세 내용
            .detail_list {
                font-size: var(--font-sm);
                .detail_item {
                    .detail_main_text {
                        font-size: var(--font-base);
                        font-weight: 600;
                        margin-bottom: 8px;
                    }
                    .detail_sub_list {
                        padding-left: 20px;
                        color: var(--gray-dark);
                        margin-bottom: 25px;
                        li {
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
        // 참여인원, 기간, 링크
        .modal_meta_grid {
            display: flex;
            justify-content: space-between;
            margin: 30px 0;
            .meta_item { 
                h3 {
                    font-size: var(--font-sm);
                    color: var(--gray-dark);
                    margin-bottom: 7px;
                }
                .meta_links {
                    a {
                        color: var(--primary-color);
                        text-decoration: underline;
                        font-weight: bold;
                    }
                }
            }
        }

        // hr
        .modal_divider {
            border: 0;
            height: 1px;
            background: var(--border-light);
            margin: 25px 0;
        }
    }
}


/* 모바일 (768px 이하) */
@media (max-width: 768px) {
    .modal_container {
        max-height: 85vh; 
        .modal_title {font-size: var(--font-md);}
        .modal_content {
            padding: 0 7px 0 0; 
            &::-webkit-scrollbar {
                width: 3px; 
            }
            .modal_section {
                .section_label { font-size: var(--font-base); margin-bottom: 12px; }
                .section_text { font-size: var(--font-sm); line-height: 1.5; }
                .modal_tags {
                    gap: 6px;
                    .modal_tag_item { font-size: 11px; padding: 4px 8px; }
                }
                .detail_title { font-size: var(--font-base); margin-top: 20px; }
                .detail_list {
                    .detail_item {
                        .detail_main_text { font-size: var(--font-sm); }
                        .detail_sub_list { 
                            padding-left: 15px; 
                            li { margin-bottom: 8px; } 
                        }
                    }
                }
            }
            /* 참여인원, 기간, 링크 정렬 수정 */
            .modal_meta_grid {
                flex-direction: column; 
                gap: 20px;
                margin: 20px 0;
                .meta_item {
                    h3 { margin-bottom: 4px; }
                    /* 링크가 길어질 경우 */
                    .meta_links a { 
                        font-size: var(--font-sm); 
                        word-break: break-all; 
                    }
                }
            }
        }
    }
}